<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spootify </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/SwitchActive.js"></script>
    <link rel="icon" href="http://i.imgur.com/7lOhLBA.png">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Spootify", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                    @if (Session["User"] != null)
                    {
                        <li><a href="@Url.Action("Index", "Genre")">Genres</a></li>
                        <li><a href="@Url.Action("Index", "Playlist")">Afspeellijsten</a></li>
                        <li><a href="@Url.Action("Index", "Account")">Account</a></li>
                      
                    }
                </ul>
                @if (Session["User"] != null)
                {
                    <a href="@Url.Action("Logout", "Home")"> <button type="button" value="Uitloggen" class="btn btn-danger btn-group-lg">Uitloggen</button> </a>
                    <a href="@Url.Action("New", "Song")"> <button type="button" value="NewPlaylist" class="btn btn-danger btn-group-lg">Nieuw lied aanmaken.</button> </a>
                  
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SpootifyTM</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>